.header{
//  background-color:$color-grey-dark-1 ;

 grid-column: col-start / col-end 6;

 background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)),  url(../img/advertPic.jpg);
 background-size: cover ;
 background-position: center;

 padding: 8rem;

display: grid;
grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
grid-template-columns: minmax(min-content, max-content);
grid-row-gap: 1.5rem;




@media only screen and (max-width: $bp-small){
   grid-column: 1 / -1;
   padding: 5rem;

  }
  @media only screen and (max-width: $bp-small){
   grid-column: 1 / -1;
   padding: 1rem;

  }
 &__btn{
    align-self: start;
    justify-self: start;
 }
 
 &__seeon-text{
    display: grid;
    grid-template-columns: 1fr max-content 1fr ;
    grid-column-gap: 1.5rem;
    align-items: center;
    color:$color-grey-light-1;

    font-size: 1.6rem;

    &::before,
    &::after{
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
    }
 }
 
 &__seeon-logos{
    
    display: grid;
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
   
 img{
        max-height: 3.5rem;
        max-width: 100%;
        filter: brightness(100%);
      
      
}
 }
}